In [4]:
import pandas as pd
chicago = pd.read_csv('chicago_data.csv', low_memory = False)

In [2]:
import pandas as pd
boston = pd.read_csv('Boston_data.csv',low_memory = False)

In [3]:
boston

,tripduration,start_time,stop_time,usertype,birth year,gender
0,371.0,2019-01-01 00:09:14,2019-01-01 00:15:25,Subscriber,1987.0,1.0
1,264.0,2019-01-01 00:33:56,2019-01-01 00:38:21,Subscriber,1990.0,1.0
2,458.0,2019-01-01 00:41:55,2019-01-01 00:49:33,Subscriber,1977.0,1.0
3,364.0,2019-01-01 00:43:33,2019-01-01 00:49:37,Subscriber,1993.0,1.0
4,681.0,2019-01-01 00:49:56,2019-01-01 01:01:18,Subscriber,1979.0,2.0
...,...,...,...,...,...,...
1048571,660.0,2019-07-14 10:23:05,2019-07-14 10:34:05,Customer,1969.0,0.0
1048572,240.0,2019-07-14 10:23:06,2019-07-14 10:27:06,Subscriber,1987.0,1.0
1048573,1428.0,2019-07-14 10:23:11,2019-07-14 10:46:59,Subscriber,1973.0,1.0
1048574,3317.0,2019-07-14 10:23:15,2019-07-14 11:18:33,Customer,1992.0,1.0
1048575,1495.0,2019-07-14 10:23:19,2019-07-14 10:48:14,Customer,1999.0,2.0

In [8]:
c_2019 = pd.read_csv('chi_2019_updated.csv', low_memory = False)

In [18]:
c_2019_renamed = c_2019.rename(columns ={"start_time":"started_at","end_time":"ended_at", "usertype":"member_casual"})

In [10]:
c_2020 = pd.read_csv('chi_2020_updated.csv', low_memory = False)

In [12]:
c_2021 = pd.read_csv('chi_2021_updated.csv', low_memory = False)

In [20]:
frames = [c_2019_renamed, c_2020, c_2021]
chicago_data = pd.concat(frames)
len(chicago_data)

10185321

In [27]:
chicago_data_dropped = chicago_data.drop(columns=['birthyear','gender'])

In [29]:
chicago_data_dropped.loc[chicago_data_dropped.member_casual == 'member','member_casual'] = 'Subscriber'

In [31]:
chicago_data_dropped.to_csv(r'C:\Users\marii\OneDrive\Desktop\SCHOOL\CSE 696 Final Project\Main Data\chicago_data.csv',index = False)

In [5]:
chicago.tripduration.isna()

0         False
1         False
2         False
3         False
4         False
          ...
685563    False
685564    False
685565    False
685566    False
685567    False
Name: tripduration, Length: 685568, dtype: bool

In [1]:
import pandas as pd 
austin = pd.read_csv('Austin_data_updated.csv', low_memory = False)

In [2]:
austin

,usertype,Checkout Date,Checkout Time,Trip Duration Minutes,start_time
0,U.T. Student Membership,1/1/2019,15:44:27,6,1/1/2019 15:44
1,U.T. Student Membership,1/1/2019,16:09:50,6,1/1/2019 16:09
2,U.T. Student Membership,1/1/2019,2:16:20,6,1/1/2019 2:16
3,Local365,1/1/2019,13:33:03,6,1/1/2019 13:33
4,U.T. Student Membership,1/1/2019,14:24:02,6,1/1/2019 14:24
...,...,...,...,...,...
342177,Single Trip (Pay-as-you-ride),3/14/2020,21:43:55,19585,14/03/2020 21:43:55
342178,Single Trip,8/10/2019,12:55:40,20695,10/8/2019 12:55
342179,Single Trip,8/15/2019,19:27:18,21197,15/08/2019 19:27:18
342180,Single Trip (Pay-as-you-ride),4/11/2020,8:52:26,22993,11/4/2020 8:52
342181,Single Trip Ride,8/7/2019,22:25:19,34238,7/8/2019 22:25

In [3]:
austin.usertype.value_counts()

Local365                             81520
24 Hour Walk Up Pass                 41078
Local31                              38024
Student Membership                   27834
Explorer                             27755
Single Trip (Pay-as-you-ride)        27071
Pay-as-you-ride                      24008
U.T. Student Membership              23686
3-Day Weekender                      15220
Single Trip                          13466
Local30                               9848
3-Day Explorer                        4459
Single Trip Ride                      2950
Local365+Guest Pass                   2231
HT Ram Membership                     1104
$1 Pay by Trip Winter Special          532
Annual                                 436
Local365 Youth (age 13-17 riders)      376
Annual Membership                      196
ACL 2019 Pass                          194
Republic Rider (Annual)                 49
Madtown Monthly                         23
Annual Pass                             13
Aluminum Access                         11
Heartland Pass (Annual Pay)              4
Annual Pass (30 minute)                  2
Annual Plus Membership                   1
Heartland Pass (Monthly Pay)             1
Name: usertype, dtype: int64

In [3]:
import pandas as pd 
chicago = pd.read_csv('chicago_data.csv', low_memory = False)

In [5]:
chicago

,started_at,ended_at,tripduration,member_casual,rideable_type
0,2019-01-01 00:04:37,2019-01-01 00:11:07,390.0,Subscriber,NaN
1,2019-01-01 00:08:13,2019-01-01 00:15:34,441.0,Subscriber,NaN
2,2019-01-01 00:13:23,2019-01-01 00:27:12,829.0,Subscriber,NaN
3,2019-01-01 00:13:45,2019-01-01 00:43:28,1783.0,Subscriber,NaN
4,2019-01-01 00:14:52,2019-01-01 00:20:56,364.0,Subscriber,NaN
...,...,...,...,...,...
10185316,2021-01-19 19:03:17,2021-01-19 20:10:03,NaN,Subscriber,classic_bike
10185317,2021-01-05 18:42:27,2021-01-05 19:33:33,NaN,Subscriber,classic_bike
10185318,2021-01-07 17:59:47,2021-01-07 19:34:03,NaN,Subscriber,classic_bike
10185319,2021-01-06 19:20:31,2021-01-06 20:41:57,NaN,Subscriber,classic_bike
10185320,2021-01-17 13:20:02,2021-01-17 14:17:00,NaN,Customer,docked_bike

In [36]:
chicago.member_casual.unique()

array(['Subscriber', 'Customer'], dtype=object)

In [37]:
chicago.to_csv(r'C:\Users\marii\OneDrive\Desktop\SCHOOL\CSE 696 Final Project\Main Data\chicago_data.csv',index = False)

In [23]:
chicago_data.loc[chicago_data.member_casual == 'member','member_casual'] = 'Subscriber'

In [24]:
chicago_data.loc[chicago_data.member_casual == 'casual','member_casual'] = 'Customer'

In [25]:
#chicago.member_casual.unique()
chicago.member_casual.value_counts()

AttributeError: 'DataFrame' object has no attribute 'member_casual'

In [22]:
chicago.rideable_type.value_counts()

0            True
1            True
2            True
3            True
4            True
            ...
10185316    False
10185317    False
10185318    False
10185319    False
10185320    False
Name: rideable_type, Length: 10185321, dtype: bool

In [21]:
per_mis1 = chicago_data.isna().sum()*100/len(chicago_data)
per_mis1

started_at        0.000000
ended_at          0.000000
tripduration     89.705037
member_casual     0.000000
gender           90.940629
birthyear        90.896536
rideable_type    10.294963
dtype: float64

In [10]:
chicago.ended_at.info()

AttributeError: 'Series' object has no attribute 'info'

In [7]:
chicago.duration = (int(chicago.ended_at) - int(chicago.started_at)).astype('timedelta64[h]')

TypeError: cannot convert the series to <class 'int'>